.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 350px;
    background: #fff;
    color: #272742;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 9999;
    transform: translateX(120%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    font-family: sans-serif;
}

.custom-alert.show {
    transform: translateX(0);
    opacity: 1;
}

.custom-alert-content {
    display: flex;
    align-items: center;
    gap: 16px;
}

.custom-alert-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.custom-alert-icon iconify-icon{
    font-size: 25px;
    font-weight: 700;
}

.success-icon {
  background-color: #5BCFC5;
}

.error-icon {
  background-color: #F64159;
}

.custom-alert-text {
  flex-grow: 1;
}

.custom-alert-text strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.custom-alert-text p {
  font-size: 15px;
  margin-top: 4px;
}

.custom-alert-progress {
  height: 4px;
  background: rgba(39, 39, 66, 0.1);
  margin-top: 12px;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform linear;
}

/* --------------------| Responsive |---------------------- */

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 481px) and (max-width: 767px) {

}

@media screen and (max-width: 480px) {
    .custom-alert {
        width: calc(100% - 5%);
        right: 10px;
        left: 10px;
        padding: 12px;
        top: 10px;
    }

    .custom-alert-content {
        gap: 12px;
    }

    .custom-alert-icon {
        width: 36px;
        height: 36px;
    }

    .custom-alert-text strong {
        font-size: 15px;
    }

    .custom-alert-text p {
        font-size: 13px;
    }

    .custom-alert-progress {
        height: 3px;
    }

}
