@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
    scroll-behavior: smooth;
}

/* ----------------------| Start Hedaer Menu |------------------------ */
body{
    max-width: 100%;
    overflow-y: scroll;
}

.main-content{
    width: 1265px;
    height: 100%;
    position: relative;
    top: 90px;
    left: 250px;
    background: var(--color-white-blue);
}

/* --------------------------------------------------------------- */

.main-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.card-wallet{
    width: 30%;
    padding: 20px 0 20px 20px;
}

.card-wallet .header-wallet{
    width: 100%;
    height: 350px;
    background: var(--color-light);
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.dropdown-table {
    position: relative;
    display: inline-block;
}

.button-dropdown{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0.9em;
    cursor: pointer;
    background: var(--color-light);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 10px 20px;
    transition: 0.5s ease;
}

.button-dropdown:hover{
    background-color: var(--color-light-grey);
}

.dropdown-content {
    display: none;
    position: absolute;
    background: var(--color-light);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 44px;
    left: -38px;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background: var(--color-light-grey);
}

.show {
    display: block;
}

.table-acount-user{
    width: 70%;
    display: flex;
    float: right;
    gap: 25px;
    padding: 20px;
}

.table-acount-user
.header-acount-user {
    width: 100%;
    height: 350px;
    background: var(--color-light);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 20px;
}

.head-title-user h2{
    font-size: 1.3em;
    margin-bottom: 5px;
    color: var(--color-dark);
}

.head-title-user p{
    font-size: 0.8em;
    color: var(--color-dark-grey);
}

.head-button-user .add-acount{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    text-transform: capitalize;
    background-color: var(--color-blue-light);
    color: var(--color-light);
    font-size: 0.8em;
    font-weight: 500;
    transition: 0.5s ease;
}

.head-button-user .add-acount iconify-icon{
    font-size: 1.7em;
}

.head-button-user .add-acount:hover{
    background: var(--hover-blue-light);
}

.header-acount-user .head-acount-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.data-table-user {
    width: 100%;
    overflow-x: auto;
}

.style-table-user {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.style-table-user thead {
    background-color: var(--color-white-blue);
    color: var(--color-dark);
}

.style-table-user th,
.style-table-user td {
    padding: 12px 16px;
    text-align: center;
}

.style-table-user tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.style-table-user tbody tr:hover {
    background-color: #f1f1f1;
}

.status {
    width: 15%;
}

.status .success {
    background-color: var(--color-blue-egg);
    color: var(--color-light);
    padding: 8px 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}

.status p{
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
}

.status p:hover{
  transform: scale(1.05);
}

.status .pending {
    background-color: var(--color-orange-light);
    color: var(--color-light);
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
}

.status .cancel {
    background-color: var(--color-light-red);
    color: var(--color-light);
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
}

/* --------------------------------------------------------------- */

.chart-content{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 25px;
    padding: 0 20px;
}

.chart-content .chart-items{
    width: 850px;
    padding: 25px;
    background: var(--color-light);
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.chart-items .chart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chart-header h2{
    font-size: 1.2em;
    color: var(--color-dark);
}

.chart-items .chart-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart-header .chart-button{
    display: flex;
    gap: 15px;
}

.chart-button .button-report{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.5s ease;
}

.chart-button .button-dropdown{
    background-color: var(--color-light);
    color: var(--color-dark);
    font-size: 1em;
    font-weight: 500;
}

.chart-button .button-report{
    background-color: var(--color-blue-light);
    color: var(--color-light);
    font-size: 1em;
}

.chart-button .button-dropdown:hover{
    background-color: var(--color-light-grey);
}

.chart-button .button-report:hover{
    background-color: var(--hover-blue-light);
}

.chart-button .dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.chart-button .dropdown-content a:hover {
    background: var(--color-light-grey);
}

.record-head .show {
    display: block;
}

.chart-main .char-main-title{

}

.chart-main .chart-menu{
    padding-right: 8em;
    display: flex;
    align-items: center;
    gap: 25px;
}

.chart-menu {
    list-style-type: disc;
}

.chart-menu .list-1 {
    color: var(--color-blue-light);
}

.chart-menu .list-2 {
    color: var(--color-light-red);
}

.chart-menu .list-1::marker {
    color: var(--color-blue-light);
}

.chart-menu .list-2::marker {
    font-size: 1.1em;
    color: var(--color-light-red);
}


.graphic {
    max-width: 100%;
    margin: 0 auto;
    background: white;
    padding: 1rem;
}

canvas {
    background: #fff;
    display: block;
    border-radius: 12px;
}

.calendar-container {
    width: 370px;
    height: 360px;
    background: var(--color-light);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.calendar-header h3{
    color: var(--color-dark);
    font-size: 1.1em;
}

.calendar-header button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calendar-header .icon-calender{
    font-size: 1.5em;
    color: var(--color-dark-grey);
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.weekdays div {
    font-size: 1em;
    font-weight: 500;
    color: var(--color-dark);
    padding: 5px;
    border-radius: 5px;
}

.day {
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    color: var(--color-dark-grey);
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.day:hover {
    background: var(--color-blue-light);
    color: var(--color-light);
}

.empty {
    visibility: hidden;
}

.today {
    background: var(--color-blue-light) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 50%;
    font-weight: 700;
}
/* ----------------------| End Hedaer Menu |------------------------ */

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 481px) and (max-width: 767px) {

}

@media screen and (max-width: 480px) {

}
